# Compiled class files
*.class

# Log files
*.log

# Package Files #
*.jar
*.war
*.ear

# Maven build directory
/target/
# Ignore specific directory inside target
target/classes/data/
target/classes/images/
target/maven-archiver/
target/maven-status/

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp
*~ 
